<!DOCTYPE html>
<html lang="em">
    <head>
        <title>CSA TESTing</title>
        <style>
            h1 {
                font-family: arial;
                font-size: 30px;
                text-align: center;
            }
            p {
                font-family: "segoe ui";
                text-align: center;
            }
        </style>
        <body>
            <h1>
                AP CSA Supplementary Study Guide
            </h1>
            <p>
                A little website that compiles the notes I took for the AP Computer Science A course.
                This website is meant to be supplementary. Also, the curriculum changes the school year after the time of writing, so it'll be at least partially obsoleted.
                Unit 9 (Inheritance) will become entirely irrelevant as it's been removed from said curriculum, while the other 9 units will be combined into 4 units.
            </p>
        </body>
    </head>
</html>